JerryBot.json
{
  "name": "JerryBot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        112,
        -128
      ],
      "id": "8a843df0-ebb1-4684-a291-894818f371dc",
      "name": "Telegram Trigger",
      "webhookId": "c15b59f9-5696-483e-9571-fa9d50a7aceb",
      "credentials": {
        "telegramApi": {
          "id": "4Ooavg8MEl1DZQ0c",
          "name": "MrJerry_bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a helpful agent and you can use contact DB to get the contact details, Email Agent for any email related queries, Calendar agent for any calendar related queries and, Research agent for questions asked by the user."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        592,
        -128
      ],
      "id": "20227bc5-973e-4c3e-93eb-8ca409bd6ece",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ydDzpyh32m1CTB7d0vKRje8F5xCkuPuDXoqM3zQux14",
          "mode": "list",
          "cachedResultName": "contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ydDzpyh32m1CTB7d0vKRje8F5xCkuPuDXoqM3zQux14/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1712173630,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ydDzpyh32m1CTB7d0vKRje8F5xCkuPuDXoqM3zQux14/edit#gid=1712173630"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        592,
        96
      ],
      "id": "8aac446a-dff2-43cd-a370-6670ae5f38a5",
      "name": "Contact DB",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Fs5RwYtZqx4uYTVe",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        336,
        96
      ],
      "id": "e26555b8-2ac0-462c-95f7-1b8386abdc4c",
      "name": "Groq Model",
      "credentials": {
        "groqApi": {
          "id": "dSwraQbCPXdSxRKY",
          "name": "Groq Model"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        464,
        96
      ],
      "id": "87b852c0-0ff1-4996-b441-452a08817429",
      "name": "Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1184,
        -128
      ],
      "id": "bfde4704-4e48-43ed-8fb8-7e673b029227",
      "name": "Response",
      "webhookId": "c56ff599-69bd-438f-8f5c-6b9bb583a687",
      "credentials": {
        "telegramApi": {
          "id": "4Ooavg8MEl1DZQ0c",
          "name": "MrJerry_bot"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool to take action in Email.",
        "workflowId": {
          "__rl": true,
          "value": "BhzNDeGIT2oS2KJk",
          "mode": "list",
          "cachedResultName": "Email Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        720,
        96
      ],
      "id": "0f0d94e3-c5af-4d20-bc29-0d8da9c858bd",
      "name": "EmailAgent"
    },
    {
      "parameters": {
        "description": "Call this tool to take action in calender.",
        "workflowId": {
          "__rl": true,
          "value": "9DkhM8qHiatFWi2H",
          "mode": "list",
          "cachedResultName": "Calendar Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        848,
        96
      ],
      "id": "411694bd-dca9-481b-a270-a1dc43dff08a",
      "name": "CalenderAgent"
    },
    {
      "parameters": {
        "description": "Call this tool for a search and to answer the user's question.",
        "workflowId": {
          "__rl": true,
          "value": "9mPrW7cFFWkG8cqw",
          "mode": "list",
          "cachedResultName": "Research Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        976,
        96
      ],
      "id": "8446714b-9faf-4da0-9870-60b0af0dbe80",
      "name": "ResearchAgent"
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 279280679,
          "message": {
            "message_id": 270,
            "from": {
              "id": 7491702653,
              "is_bot": false,
              "first_name": "Abhay",
              "last_name": "Krishna",
              "username": "AbhayKrishna28",
              "language_code": "en"
            },
            "chat": {
              "id": 7491702653,
              "first_name": "Abhay",
              "last_name": "Krishna",
              "username": "AbhayKrishna28",
              "type": "private"
            },
            "date": 1756797746,
            "text": "Can u understand voice?"
          }
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact DB": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Groq Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EmailAgent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CalenderAgent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ResearchAgent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "40ffa22a-4fc3-44b3-aa8e-21377d5375bd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aa103bfaf5fbbae38db6d08763542a38435378d8d32ed79c5ff3cdba5c2898b3"
  },
  "id": "Ey7Pms0RfPFPGTYX",
  "tags": []
}