Research Agent.json
{
  "name": "Research Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are a research assistant agent. You have Wikipedia, Hacker News API, and Serp API at your disposal.\n\nTo answer the user's question, first search Wikipedia. If you can't find your answer there, then search articles using Hacker News API. If that doesn't work either, then use Serp API to answer the user's question."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        336,
        0
      ],
      "id": "36e2515e-c91a-4572-ac39-4f0d2bc37c0f",
      "name": "Research Agent"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -16,
        0
      ],
      "id": "c67ff658-df6b-4bdb-ad03-b47c98c01b55",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-maverick-17b-128e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        208,
        224
      ],
      "id": "06484f6c-7c49-4143-b4a7-a38a31164a2f",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "dSwraQbCPXdSxRKY",
          "name": "Groq Model"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        336,
        224
      ],
      "id": "131d6e05-8f4f-48a1-bff0-d091ed423a71",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        464,
        224
      ],
      "id": "089485cf-3e80-496a-ab0d-4311747eb8a9",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "LVH06XXzWlFFZfSy",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "resource": "all",
        "limit": "={{ $fromAI(\"limit\") }}",
        "additionalFields": {
          "keyword": "={{ $fromAI(\"keyword\") }}"
        }
      },
      "type": "n8n-nodes-base.hackerNewsTool",
      "typeVersion": 1,
      "position": [
        592,
        224
      ],
      "id": "252786eb-a95e-4c46-ba2b-89db2974ae18",
      "name": "Hacker News"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "94838d9c-ac2c-4fe2-b980-b6b8cc763cc6",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        0
      ],
      "id": "35f99210-23f1-48ac-82dd-be959702cd9e",
      "name": "Response"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Research Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Research Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Hacker News": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Research Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4f363302-7a67-421e-a992-9080dbdd4047",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aa103bfaf5fbbae38db6d08763542a38435378d8d32ed79c5ff3cdba5c2898b3"
  },
  "id": "9mPrW7cFFWkG8cqw",
  "tags": []
}